name: Test

on: [push]

jobs:
 test:
      # Где запускаем
    runs-on: ubuntu-latest
    # Что делаем
    steps:
      # выкачиваем репозиторий
      - uses: actions/checkout@v5
      # настраиваем JAVA
      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu' # distributions
          java-version: '17'
          # запускаем тесты
      - run: ./gradlew clean test