name: Test

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    # Важно: даём права на запись в репозиторий (для gh-pages)
    permissions:
      contents: write

    steps:
      # 1. Выкачиваем код (самая свежая версия)
      - name: Checkout code
        uses: actions/checkout@v5

      # 2. Устанавливаем Java
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Prepare minimal Selenoid config
        run: |
          mkdir -p .aerokube/selenoid
      
          cat > .aerokube/selenoid/browsers.json << 'EOF'
          {
            "chrome": {
              "default": "latest",
              "versions": {
                "latest": {
                  "image": "selenoid/vnc:chrome_latest",
                  "port": "4444",
                  "tmpfs": {"/tmp": "size=512m"}
                }
              }
            }
          }
          EOF
      
          # Подтягиваем образ заранее (чтобы не ждать в тесте)
          docker pull selenoid/vnc:chrome_latest || true
      
          ls -la .aerokube/selenoid/
          cat .aerokube/selenoid/browsers.json
      
      - name: Start Selenoid
        run: |
          docker run -d --name selenoid \
            -p 4444:4444 \
            --shm-size=2g \
            -v /var/run/docker.sock:/var/run/docker.sock \
            -v ${PWD}/.aerokube/selenoid:/etc/selenoid:ro \
            aerokube/selenoid:latest-release \
            -conf /etc/selenoid/browsers.json \
            -limit 10 \
            
      
          sleep 20
      
          curl --fail --retry 3 --retry-delay 5 http://localhost:4444/status || { docker logs selenoid; exit 1; }
      
          echo "Selenoid is running:"
          curl http://localhost:4444/status

      # 4. Запускаем тесты (selenide.remote уже должен работать)
      - name: Run Gradle tests
        run: ./gradlew clean test -Dselenide.remote=http://localhost:4444/wd/hub

      # 5. Скачиваем историю (только если предыдущие шаги прошли или always)
      - name: Checkout gh-pages (for Allure history)
        if: always()
        uses: actions/checkout@v5
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      # 6. Генерируем Allure отчёт
      - name: Generate Allure Report
        if: always()
        uses: simple-elf/allure-report-action@master
        with:
          gh_pages: gh-pages
          allure_results: build/allure-results
          allure_report: allure-report
          allure_history: allure-history

      # 7. Публикуем отчёт в gh-pages
      - name: Deploy Allure report to GitHub Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v4   # обновили до v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-history
          # force_orphan: true   # раскомментировать, если нужно чистую историю
