name: Test

on: [push]

jobs:
 test:
      # Где запускаем
    runs-on: ubuntu-latest
    # Что делаем
    steps:
      # выкачиваем репозиторий
      - uses: actions/checkout@v5
      # настраиваем JAVA
      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu' # distributions
          java-version: '17'
      - uses: Xotabu4/selenoid-github-action@v2
        with:
         version: '1.10.7'
         args: '-limit 10 -tmpfs 128'
        # запускаем тесты
      - run: ./gradlew clean test -Dselenide.remote=http://localhost:4444/wd/hub
# Скачиваем историю тестов
      - uses: actions/checkout@v5
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages
# генерируем отчет
      - uses: simple-elf/allure-report-action@master
        if: always()
        with:
           gh_pages: gh-pages
           allure_results: build/allure-results
           allure_report: allure-report
           allure_history: allure-history
# публикуем отчет
      - uses: peaceiris/actions-gh-pages@v4
        if: always()
        env:
           PERSONAL_TOKEN: ${{ secrets.GITHUB_TOKEN }}
           PUBLISH_BRANCH: gh-pages
           PUBLISH_DIR: allure-history