name: Test


on: [push]
jobs:
 test:
  check-bats-version:
    # Где запускаем
    runs-on: ubuntu-latest
    # Что делаем
    steps:
      # выкачиваем репозиторий
      - uses: actions/checkout@v5
      # настроеваем JAVA
       uses: actions/setup-java@v5
        with:
          distribution: 'zulu' # distributions
          java-version: '17'
      - run: ./gradlew clean test